<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Global</key>
	<dict>
		<key>StatusBarStyle</key>
		<string>UIStatusBarStyleLightContent</string>
		<key>NavigationBarBackButtonColor</key>
		<string>#D3D3D3</string>
		<key>ListActivityIndicatorColor</key>
		<string>#FF8C00</string>
	</dict>
	<key>Feed</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#5C5C5C</string>
	</dict>
	<key>Bookmarks</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#5C5C5C</string>
		<key>EmptyListFontColor</key>
		<string>#D3D3D3</string>
	</dict>
	<key>Categories</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#5C5C5C</string>
		<key>CellChevronIconColor</key>
		<string>#000000</string>
		<key>CellSeparatorColor</key>
		<string>#e6e6e6</string>
	</dict>
	<key>Settings</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#5C5C5C</string>
		<key>Theme</key>
		<dict>
			<key>CellMarkImageTintColor</key>
			<string>#FFFF00</string>
		</dict>
	</dict>
	<key>TabBar</key>
	<dict>
		<key>TopBorderLineColor</key>
		<string>#e6e6e6</string>
		<key>ItemColorSelected</key>
		<string>#62A0CD</string>
		<key>ItemColorDefault</key>
		<string>#696969</string>
	</dict>
	<key>Menu</key>
	<dict>
		<key>CellChevronIconColor</key>
		<string>#000000</string>
		<key>CellSeparatorColor</key>
		<string>#D3D3D3</string>
	</dict>
	<key>CategoryNews</key>
	<dict>
		<key>CellSeparatorColor</key>
		<string>#e6e6e6</string>
	</dict>
	<key>Images</key>
	<dict>
		<key>Test</key>
		<string>test_img_red</string>
	</dict>
</dict>
</plist>
