<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Global</key>
	<dict>
		<key>NavigationBarButtonsColor</key>
		<string>#D3D3D3</string>
		<key>ListActivityIndicatorColor</key>
		<string>#FF8C00</string>
	</dict>
	<key>Main</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#4f4f4f</string>
	</dict>
	<key>Feed</key>
	<dict>
		<key>Cell</key>
		<dict>
			<key>PublishDateLabelColor</key>
			<string>#bababa</string>
			<key>SeparatorColor</key>
			<string>#363636</string>
			<key>TitleColor</key>
			<string>#EDEDED</string>
		</dict>
		<key>BackgroundColor</key>
		<string>#424242</string>
	</dict>
	<key>Bookmarks</key>
	<dict>
		<key>Cell</key>
		<dict>
			<key>SeparatorColor</key>
			<string>#363636</string>
			<key>PublishDateLabelColor</key>
			<string>#bababa</string>
			<key>TitleColor</key>
			<string>#EDEDED</string>
		</dict>
		<key>BackgroundColor</key>
		<string>#424242</string>
		<key>EmptyListFontColor</key>
		<string>#D3D3D3</string>
	</dict>
	<key>Categories</key>
	<dict>
		<key>Cell</key>
		<dict>
			<key>TitleColor</key>
			<string>#EDEDED</string>
			<key>SeparatorColor</key>
			<string>#363636</string>
			<key>ChevronIconColor</key>
			<string>#EDEDED</string>
		</dict>
		<key>BackgroundColor</key>
		<string>#424242</string>
	</dict>
	<key>Settings</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#424242</string>
	</dict>
	<key>TabBar</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#4f4f4f</string>
		<key>TopBorderLineColor</key>
		<string>#434343</string>
		<key>ItemColorSelected</key>
		<string>#d4d4d4</string>
		<key>ItemColorDefault</key>
		<string>#adadad</string>
	</dict>
	<key>Menu</key>
	<dict>
		<key>Cell</key>
		<dict>
			<key>ItemValueColor</key>
			<string>#EDEDED</string>
			<key>ItemTitleColor</key>
			<string>#EDEDED</string>
			<key>SeparatorColor</key>
			<string>#363636</string>
			<key>ChevronIconColor</key>
			<string>#EDEDED</string>
		</dict>
	</dict>
	<key>SettingsTheme</key>
	<dict>
		<key>Cell</key>
		<dict>
			<key>TitleColor</key>
			<string>#EDEDED</string>
			<key>MarkImageTintColor</key>
			<string>#D3D3D3</string>
		</dict>
		<key>BackgroundColor</key>
		<string>#424242</string>
	</dict>
	<key>CategoryNews</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#424242</string>
		<key>Cell</key>
		<dict>
			<key>TitleColor</key>
			<string>#EDEDED</string>
			<key>PublishDateLabelColor</key>
			<string>#bababa</string>
			<key>SeparatorColor</key>
			<string>#363636</string>
		</dict>
	</dict>
	<key>Images</key>
	<dict>
		<key>Test</key>
		<string>test_img_red</string>
	</dict>
</dict>
</plist>
