<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Global</key>
	<dict>
		<key>NavigationBarBackButtonColor</key>
		<string>#D3D3D3</string>
		<key>backgroundColor</key>
		<string>#FF0000</string>
	</dict>
	<key>TabBar</key>
	<dict>
		<key>TopBorderLineColor</key>
		<string>#D3D3D3</string>
		<key>ItemColorSelected</key>
		<string>#800000</string>
		<key>ItemColorDefault</key>
		<string>#ffd000</string>
	</dict>
	<key>Menu</key>
	<dict>
		<key>CellChevronIconColor</key>
		<string>#000000</string>
		<key>CellSeparatorColor</key>
		<string>#D3D3D3</string>
	</dict>
	<key>Images</key>
	<dict>
		<key>Test</key>
		<string>test_img_red</string>
	</dict>
</dict>
</plist>
