<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Global</key>
	<dict>
		<key>StatusBarStyle</key>
		<string>UIStatusBarStyleDefault</string>
		<key>NavigationBarBackButtonColor</key>
		<string>#FFFFFF</string>
		<key>ListActivityIndicatorColor</key>
		<string>#FF8C00</string>
	</dict>
	<key>Feed</key>
	<dict>
		<key>Cell</key>
		<dict>
			<key>PublishDateLabelColor</key>
			<string>#333333</string>
			<key>SeparatorColor</key>
			<string>#e6e6e6</string>
			<key>TitleColor</key>
			<string>#000000</string>
		</dict>
		<key>BackgroundColor</key>
		<string>#EFEFEF</string>
	</dict>
	<key>Bookmarks</key>
	<dict>
		<key>Cell</key>
		<dict>
			<key>SeparatorColor</key>
			<string>#e6e6e6</string>
			<key>PublishDateLabelColor</key>
			<string>#333333</string>
			<key>TitleColor</key>
			<string>#000000</string>
		</dict>
		<key>BackgroundColor</key>
		<string>#EFEFEF</string>
		<key>EmptyListFontColor</key>
		<string>#000000</string>
	</dict>
	<key>Categories</key>
	<dict>
		<key>Cell</key>
		<dict>
			<key>TitleColor</key>
			<string>#000000</string>
			<key>SeparatorColor</key>
			<string>#e6e6e6</string>
			<key>ChevronIconColor</key>
			<string>#000000</string>
		</dict>
		<key>BackgroundColor</key>
		<string>#EFEFEF</string>
	</dict>
	<key>Settings</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#EFEFEF</string>
	</dict>
	<key>TabBar</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#FFFFFF</string>
		<key>TopBorderLineColor</key>
		<string>#e6e6e6</string>
		<key>ItemColorSelected</key>
		<string>#62A0CD</string>
		<key>ItemColorDefault</key>
		<string>#696969</string>
	</dict>
	<key>Menu</key>
	<dict>
		<key>Cell</key>
		<dict>
			<key>ItemValueColor</key>
			<string>#000000</string>
			<key>ItemTitleColor</key>
			<string>#000000</string>
			<key>SeparatorColor</key>
			<string>#e6e6e6</string>
			<key>ChevronIconColor</key>
			<string>#000000</string>
		</dict>
	</dict>
	<key>SettingsTheme</key>
	<dict>
		<key>Cell</key>
		<dict>
			<key>TitleColor</key>
			<string>#000000</string>
			<key>MarkImageTintColor</key>
			<string>#D3D3D3</string>
		</dict>
		<key>BackgroundColor</key>
		<string>#EFEFEF</string>
	</dict>
	<key>CategoryNews</key>
	<dict>
		<key>BackgroundColor</key>
		<string>#EFEFEF</string>
		<key>Cell</key>
		<dict>
			<key>TitleColor</key>
			<string>#EDEDED</string>
			<key>PublishDateLabelColor</key>
			<string>#333333</string>
			<key>SeparatorColor</key>
			<string>#D3D3D3</string>
		</dict>
	</dict>
	<key>Images</key>
	<dict>
		<key>Test</key>
		<string>test_img_paper</string>
	</dict>
</dict>
</plist>
