<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Global</key>
	<dict>
		<key>StatusBarStyle</key>
		<string>UIStatusBarStyleDefault</string>
		<key>NavigationBarBackButtonColor</key>
		<string>#000000</string>
		<key>ListActivityIndicatorColor</key>
		<string>#FF8C00</string>
		<key>backgroundColor</key>
		<string>#000000</string>
	</dict>
	<key>Categories</key>
	<dict>
		<key>CellChevronIconColor</key>
		<string>#000000</string>
		<key>CellSeparatorColor</key>
		<string>#e6e6e6</string>
	</dict>
	<key>Settings</key>
	<dict>
		<key>Theme</key>
		<dict>
			<key>CellMarkImageTintColor</key>
			<string>#000000</string>
		</dict>
	</dict>
	<key>TabBar</key>
	<dict>
		<key>TopBorderLineColor</key>
		<string>#D3D3D3</string>
		<key>ItemColorSelected</key>
		<string>#FF8C00</string>
		<key>ItemColorDefault</key>
		<string>#696969</string>
	</dict>
	<key>Menu</key>
	<dict>
		<key>CellChevronIconColor</key>
		<string>#000000</string>
		<key>CellSeparatorColor</key>
		<string>#e6e6e6</string>
	</dict>
	<key>CategoryNews</key>
	<dict>
		<key>CellSeparatorColor</key>
		<string>#e6e6e6</string>
	</dict>
	<key>Images</key>
	<dict>
		<key>Test</key>
		<string>test_img_white</string>
	</dict>
</dict>
</plist>
