<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TUT.by</key>
	<dict>
		<key>Information</key>
		<dict/>
		<key>General</key>
		<dict>
			<key>Main</key>
			<string>https://news.tut.by/rss/index.rss</string>
			<key>Latest</key>
			<string>https://news.tut.by/rss/all.rss</string>
		</dict>
		<key>Categories</key>
		<dict>
			<key>category.economics</key>
			<string>https://news.tut.by/rss/economics.rss</string>
			<key>category.society</key>
			<string>https://news.tut.by/rss/society.rss</string>
			<key>category.world</key>
			<string>https://news.tut.by/rss/world.rss</string>
			<key>category.technology</key>
			<string>https://news.tut.by/rss/it.rss</string>
			<key>category.accidents</key>
			<string>https://news.tut.by/rss/accidents.rss</string>
			<key>category.finance</key>
			<string>https://news.tut.by/rss/finance.rss</string>
			<key>category.realty</key>
			<string>https://news.tut.by/rss/realty.rss</string>
			<key>category.sport</key>
			<string>https://news.tut.by/rss/sport.rss</string>
			<key>category.auto</key>
			<string>https://news.tut.by/rss/auto.rss</string>
			<key>category.lady</key>
			<string>https://news.tut.by/rss/lady.rss</string>
			<key>category.culture</key>
			<string>https://news.tut.by/rss/culture.rss</string>
		</dict>
		<key>Regions</key>
		<dict/>
	</dict>
	<key>Onliner.by</key>
	<dict>
		<key>Information</key>
		<dict/>
		<key>General</key>
		<dict>
			<key>Main</key>
			<string>https://news.tut.by/rss/index.rss</string>
			<key>Latest</key>
			<string>https://news.tut.by/rss/all.rss</string>
		</dict>
		<key>Categories</key>
		<dict/>
		<key>Regions</key>
		<dict/>
	</dict>
</dict>
</plist>
