<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TUT.by</key>
	<dict>
		<key>Information</key>
		<dict/>
		<key>General</key>
		<dict>
			<key>Main</key>
			<dict>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/index.rss</string>
			</dict>
			<key>Latest</key>
			<dict>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/all.rss</string>
			</dict>
		</dict>
		<key>Categories</key>
		<dict>
			<key>category.economics</key>
			<dict>
				<key>order</key>
				<integer>1</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/economics.rss</string>
			</dict>
			<key>category.society</key>
			<dict>
				<key>order</key>
				<integer>2</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/society.rss</string>
			</dict>
			<key>category.world</key>
			<dict>
				<key>order</key>
				<integer>3</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/world.rss</string>
			</dict>
			<key>category.technology</key>
			<dict>
				<key>order</key>
				<integer>4</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/it.rss</string>
			</dict>
			<key>category.accidents</key>
			<dict>
				<key>order</key>
				<integer>5</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/accidents.rss</string>
			</dict>
			<key>category.finance</key>
			<dict>
				<key>order</key>
				<integer>6</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/finance.rss</string>
			</dict>
			<key>category.realty</key>
			<dict>
				<key>order</key>
				<integer>7</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/realty.rss</string>
			</dict>
			<key>category.sport</key>
			<dict>
				<key>order</key>
				<integer>8</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/sport.rss</string>
			</dict>
			<key>category.auto</key>
			<dict>
				<key>order</key>
				<integer>9</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/auto.rss</string>
			</dict>
			<key>category.lady</key>
			<dict>
				<key>order</key>
				<integer>10</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/lady.rss</string>
			</dict>
			<key>category.culture</key>
			<dict>
				<key>order</key>
				<integer>11</integer>
				<key>icon</key>
				<string></string>
				<key>url</key>
				<string>https://news.tut.by/rss/culture.rss</string>
			</dict>
		</dict>
		<key>Regions</key>
		<dict/>
	</dict>
	<key>Onliner.by</key>
	<dict>
		<key>Information</key>
		<dict/>
		<key>General</key>
		<dict>
			<key>Main</key>
			<string>https://news.tut.by/rss/index.rss</string>
			<key>Latest</key>
			<string>https://news.tut.by/rss/all.rss</string>
		</dict>
		<key>Categories</key>
		<dict/>
		<key>Regions</key>
		<dict/>
	</dict>
</dict>
</plist>
